MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=classroom_borrow_system
MYSQL_USER=appuser
MYSQL_PASSWORD=apppass
MAIL_USER=你的email
MAIL_PASS=16位code
TA_EMAIL=你的email
FRONTEND_URL=http://localhost:5173
NODE_ENV=production
SSO_API_URL=https://algotutor.utaipei.edu.tw:9887/api/v1
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root_password
DB_NAME=classroom_borrow_system
